html{
background: #fefefe66;
}
header{
    background: aliceblue;
    height: 300px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.form_box {
    width: 553px;
    margin: 108px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(222 222 227);
}
footer {
  padding: 50px 0 65px;
  background: #f8f9fa;
  margin-top: 94px
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
  margin-top: 20px
}

